.cardWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: 5%;
    z-index: 3;
}

.cardImage {
    display: block;
}

.cardTitle {
    display: block;
}

.cardList {
    display: flex;
    flex-direction: column;
}

.cardField {
    display: block;
}

.cardFieldName {
    font-weight: bold;
}
