.cardWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardImage {
    display: block;
}

.cardTitle {
    display: block;
}

.cardList {
    display: flex;
    flex-direction: column;
}

